!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body

    .header
      グループを作成しました
    .content
      .side-content
        .side-top
          .side-top__box
            %p.side-top__box__user--name
              = current_user.name
            %ul.side-top__box__menu
              %li
                =link_to new_group_path do
                  %i.fa.fa-edit
                  %span<>
              %li
                = link_to edit_user_path(current_user) do
                  %i.fa.fa-cog
                  %span<>
                  


        .side-bottom
          - current_user.groups.each do |group|
            .side-group
              = link_to group_messages_path(group) do
                %p.side-group__group-name
                  = group.name
                %p.side-group__latest-message
                  = group.show_last_message




      .main-content
        .main-top
          .main-top__left
            %h2.main-top__left__current-g 
              = @group.name
            %ul.main-top__left__mem-list
              Member :　
              %li.main-top__left__mem-list__mem
                = current_user.name
          %a(href="")
            .main-top__left__edit-btn
              Edit

        -# .main-middle
        -#   .main-message
        -#     .main-message__upper-info
        -#       %p.main-message__upper-info__talker 
        -#         James : 
        -#       %p.main-message__upper-info__date 
        -#         2102: 12:45
        -#     %p.message__text 
        -#       okokkkkokokko

        .main-middle
          = render @messages


        .main-bottom
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'new_message', placeholder: 'type a message'
            .input-box
              = f.label :image, class: 'input-box__image' do
                %i.fa.fa-image
                = f.file_field :image, class: 'hidden'
                
            = f.submit 'Send', class: 'input-submit-btn'

              
